[form] {
  padding: 5px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
[form] input[type="text"],
[form] input[type="email"],
[form] select {
  width: 100%;
  border: 1px solid #000000;
  height: auto;
  margin: 5px 0 0 0;
  border-radius: 0px;
}
[form] .sib-default-btn {
  margin: 5px 0;
  padding: 6px 12px;
  color: #fff;
  background-color: #F5AF06;
  border-color: #F5AF06;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 800;
  line-height: 1.4285;
  text-align: center;
  cursor: pointer;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: normal;
  border: 1px solid transparent;
  border-radius: 0px;
}
[form] .sib-default-btn:hover {
  background-color: #F5AF06;
}
[form] p {
  margin: 10px 0 0 0;
}
